.title{
font-weight: bold;
}

.form{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.input{
    width: 25%;
}

.btn{
    width: 10%;
}

.pistas{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}